h1 {
  font-family: verdana;
  margin: 10px 10px 20px 25px;
  font-size: 66px;
  color: #FFEBEB;
}

h2 {
  font-family: verdana;
  text-align: center;
  color: #FFEBEB;
}

body {
  background-color:#A9C4BD;
}

.square {
  float: left;
  height: 100px;
  width: 100px;
  background-color: #4BBFB0;
  margin: 4px;
}

.square:hover {
  box-shadow: inset 0 0 1em #57E6C4, 0px 0px 0px 5px  #43AB93;
}

.window {
  display: table-cell;
  padding: 0px;
}

.win{
  background-color: rgba(75, 191 , 176, .4);
  box-shadow: inset 0 0 2em #FFE373, 0px 0px 0px 5px #43AB93;
}

.oWinBoard {
  background-image: url(../imgs/imgO.png);
}

.xWinBoard {
  background-image: url(../imgs/imgX.png);
}

.hidden {
  display:none;
}

.contain {
  margin: 3% auto 3% auto;
}

.board {
  height: 324px;
  width: 324px;
  background-color: #43AB93;
  padding: 6px;
  margin: 5px auto 5px auto;
  box-shadow: 10px 10px #608078;
  border-radius: 10px;
}

#instruct {
  width: 314px;
  background-color:#4BBFB0;
  text-align: center;
  margin: 5px auto 10px auto;
  box-shadow: 10px 10px #608078;
  border-radius: 10px;
  border: 10px solid #43AB93;
  padding: 30px auto 20px auto;
}

#playAgain {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 0px #608078;
  -moz-box-shadow: 4px 4px 0px #608078;
  box-shadow: 4px 4px 0px #608078;
  font-family: verdana;
  color: #FFEBEB;
  font-size: 20px;
  background: #4BBFB0;
  padding: 10px 10px 10px 10px;
  margin: 10px auto 5px 50%;
  font-weight: bold;
/*  float: left;*/
}

#playAgain:hover {
  background: #43AB93;
}
